*{
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
.navegacion{
    justify-content: space-between;
}
.c-item{
    height: 620px;
    width: 100%;
}

.c-image{
    height: 100%;
}

.logo{
    height: 70px;
    border-radius: 15%;
}

.nav-item{
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
    
}

.navbar-nav{
    width: 100%;
}

h1{
    font-size: 50px;
    font-family: 'Heebo', sans-serif;
}

.image{
    height: 300px;
}
.image3{
    height: 250px;
    padding-top: 7%;
}

.parrafo{
    margin: 8%;
    text-align: justify;
    font-size: 25px;
}

.listac{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #ffffff6f;
}
.mapa{
    justify-content: center;
    align-items: center;
    padding-left: 25%;
    width:600px;
    height:450px;
}

.placeholder{
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 5%;
}

.listac{
    background-color: #605e5e3f;
    border-radius: 2%;
}

div{
    border-radius: 2%;
}

.subtitulos{
    background-color: rgba(255, 255, 255, 0.55);
    width: 30%;
    height: 120px;
    margin: auto;
}

.margintop{
    padding-top: 95px;
}

button{
    font-size: 30%;
    font-family: 'Heebo', sans-serif;
    
}

.items{
    font-size: 20px;
    list-style: none;
    text-decoration: none;
}

.accordion-body{
    color:black;
}

#footer{
    background-color: #94949488;
    display: flex;
    padding-left: 15%;
    height: 200px;
    padding-top: 1%;
    margin-top: 5%;
}

#footer .col{
    flex-grow: 1;
}