* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
    background-color: rgb(236, 236, 236);
    color: rgb(37, 37, 37);
    background-color: #dddddd;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
font-size: 25px;
font-family: 'Oswald', sans-serif;
}

a {
   color:rgb(37, 37, 37); 
   text-decoration: none;
}
ul {
    list-style: none;
}
.container{
    width: 100%;
    margin: auto;
    height: 105px;
    background-color: #f5f0f0;
    padding-left: 40px;
    padding-right: 50px;
    border-bottom: solid 1px black;
}
/*Estilos de Nav*/
.nav-main{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px;
}
.nav-brand{
    width: 150px;
}
/*Navegacion izquierda*/
.nav-icon{
    display: flex;
    padding: 20px;
    
}
.nav-main ul{
    display: flex;
    
}

.nav-main ul li{
    padding: 80px;
   
}
.nav-main ul li a:hover{
    border-bottom:2px solid #000;
 }

.nav-menuicon-right{
    flex:2;

}
.nav-main ul.nav-menu {
    flex:6;
}
/*Imagen y Cuadro de texto Carrusel*/

#carrusel{
    padding-top: 2%;
    display: flex;
    background-color: #ffffff89;
    justify-items: center;  
    width: 100%;
    padding-bottom: 2%;
     
}
.carruseltxt {
    width: 750px;
    margin:auto;
    text-align: center;
}

.carruseltxt p{
    
    margin:auto;
    text-align: justify;
}

.imgcarrusel{
    height: 300px;
    width: 500px;
    padding-left: 10%;
}

.titulos0{
    background-color: #ffffffbe;
    font-size: 50px;
    padding-left: 2%;
    margin-bottom: 2%;
    border: solid 2px rgba(0, 0, 0, 0.418);
}
.iniciotxt{
    display: flex;
    justify-content: center;
}

.listac{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #ffffff6f;
}
.mapa{
    justify-content: center;
    align-items: center;
}

/*Pagina Novedades*/
#titulo1{
    background-color: #dddddd;
    border-top: solid 1px rgb(0, 0, 0);
    border-bottom: solid 1px rgb(0, 0, 0);
    padding-left: 2%;
}
.titulos{
    font-size: 50px;
    padding-left: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: #ffffff82 ;
}
.primerart{
    display: flex;
    
}
.parrafos{
    width: 40%;
    margin: 2%;
    font-size: 25px;
    text-align: justify;
}
.img0, .img1{
    width: 600px;
    border-radius: 5px;
    margin-left: 8%;
    margin-bottom: 2%;
    height: 350px;
}
#segundop{
    flex-direction: row-reverse;
    justify-content: space-between;
}
#subtiderecha{
    text-align: right;
    padding-right: 2%;
}
.mapa{
    padding-left: 25%;
    width:600px;
    height:450px;
}

/*Footer novedades*/

#footer{
    background-color: #94949488;
    display: flex;
    padding-left: 15%;
    border-top: solid 1px;
    height: 200px;
    padding-top: 1%;
}

#footer .col{
    flex-grow: 1;
}

/* Peces*/
.subtitulos{
    padding-left: 2%;
    font-size: 45px;
    background-color: #ffffff82;
}

.parrafop{
    display: flex;
}

.pecesp{
    width: 700px;
    padding: 2%;
    text-align: justify;
}
.img3{
    width: 600px;
    border-radius: 5px;
    padding-top: 5%;
    margin-left: 15%;

}
.subtireverse{
    text-align: right;
    padding-right: 5%;
    font-size: 45px;
    background-color: #ffffff82;
}
#comida{
    text-align: right;
    padding: 0;
    font-size: 30px;
}
.img4{
    width: 600px;
    border-radius: 5px;
    padding-top: 5%;
    padding-left: 15%;
}

#parrafopreverse{
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-right: 3%;

}
#img2{
    padding-left: 5%;

}

/*PESCA*/

#padrecatalogo{
    display: flex;
}
.catalogo{
    background-color: rgba(125, 116, 225, 0.505);
    width: 20%;
    height: 1000px;
    padding-left: 1%;
    font-size: 30px;

}

.items{
    background-color: #c1c1c12c;
     width: 80%;


}

.menu > li {
    list-style: inside;
}

.submenu{
    padding-left: 55px;
}

.items{
    display:flex;
    width: 1375px;
}
.contenedorarticulo{
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    margin: 2%;
    align-content:space-between;
}

.imgitems{
    width: 300px;
}

.articulos{
    text-align: center;
    
}

.button{
    width: 130px;
    height: 40px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
}

/*Carrito de Compras*/

.tablacarrito, tr, td, th {
    border: solid 1px ;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    width: 1000px;
    background-color: #f3f1f1;
}
.enviarcotizacion{
    padding-left: 40%;
}
#enviarcotizacion{
    width: 300px;
    height: 100px;
    margin: 2%;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    
}
